/* fonts */
@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local('MontserratRegular'), local('Montserrat-Regular'),
    url(../fonts/Montserrat-Regular.woff) format('woff'),
    url(../fonts/Montserrat-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: local('MontserratSemibold'), local('Montserrat-Semibold'),
		url(assets/fonts/Montserrat-SemiBold.woff) format('woff'),
			url(assets/fonts/Montserrat-SemiBold.woff2) format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: local('MontserratBold'), local('Montserrat-Bold'),
		url(assets/fonts/Montserrat-Bold.woff) format('woff'),
			url(assets/fonts/Montserrat-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  font-style: normal;
  font-weight: 800;
  src: local('MontserratExtrabold'), local('Montserrat-Extrabold'),
		url(assets/fonts/Montserrat-ExtraBold.woff) format('woff'),
			url(assets/fonts/Montserrat-ExtraBold.woff2) format('woff2');
}

/* common */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
	min-height: 100vh;
	background: lightgrey;
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

a {
	text-decoration: none;
	color: inherit;
}

.flex {
	display: flex;
}

.list-reset {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 15%;
}

/* header styles */

.header__photo {
	height: 250px;
	justify-content: center;
	width: 250px;
	margin: 50px auto;
	position: relative;
	z-index: 2;
}

.header_img {
	border-radius: 50%;
	width: 100%;

	object-fit: cover;
	border: 15px solid lightgrey;
}

.header-container {
	flex-wrap: wrap;
}

.left {
	width: 50%;
	margin-right: 25%;
}

.rigth {
	width: 50%;
	/* padding-top: 15%; */
	flex-direction: column;
	justify-content: space-evenly;
}

/* main styles */
.main {
	padding: 0 7%;
	margin-bottom: 30px;
}

.main-container {
	flex-wrap: wrap;
	padding: 0 7%;
}

.main-title {
	margin: 0;
	font-weight: bolder;
	/* font-size: 26px; */
	padding-bottom: 13px;
}

.main-descr {
	margin: 0;
	font-weight: bold;
	/* font-size: 12px; */
	padding-bottom: 30px;
}

/* section styles */
.section {
	width: 100%;
	border-bottom: 2px solid grey;
	padding-bottom: 30px;
}

.section:not(:first-child) {
	width: 50%;
}

@media (max-width: 768px) {

	.section,
	.section:not(:first-child) {
		width: 100%;
	}
}

.section-title {
	font-weight: bold;
	padding-bottom: 18px;
}

.section-text,
ul.li {
	font-weight: normal;
}

/* footer styles */
.footer {
	font-weight: normal;
	padding-bottom: 30px;
}

.footer-list {
	justify-content: space-between;
	align-items: center;
}

.footer-list__item {
	width: 30%;
	text-align: center;
}

.rs {
	width: 30%;
}